{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.11.0",
        "shippedProposals": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
