{
  "ignorePatterns": [
    "build/*",
    "dist/*"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./src/tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": [
      "warn",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "enums": "always-multiline",
        "generics": "always-multiline",
        "tuples": "always-multiline",
        "functions": "never"
      }
    ],
    "eqeqeq": [
      "warn",
      "always"
    ],
    "import/no-unresolved": [
      "warn",
      {
        "ignore": [
          "^(background|common|inject|options)(/|$)"
        ]
      }
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "warn",
      "always"
    ],
    "space-in-parens": [
      "warn",
      "always"
    ],
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/jsx-closing-bracket-location": [
      "warn",
      "tag-aligned"
    ],
    "react/prop-types": "off",
    "react/display-name": "off",
    "@typescript-eslint/prefer-nullish-coalescing": [
      "warn",
      {
        "ignoreConditionalTests": true,
        "ignoreMixedLogicalExpressions": false
      }
    ],
    "@typescript-eslint/strict-boolean-expressions": [
      "warn",
      {
        "allowNullableObject": true,
        "allowNullableString": true
      }
    ],
    "@typescript-eslint/prefer-optional-chain": "warn",
    "@typescript-eslint/no-misused-promises": [
      "error",
      {
        "checksVoidReturn": false
      }
    ],
    "@typescript-eslint/no-inferrable-types": [
      "error",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/restrict-template-expressions": [
      "error",
      {
        "allowNullish": true
      }
    ],
    "no-restricted-globals": [
      "error",
      "addEventListener",
      "alert",
      "applicationCache",
      "atob",
      "blur",
      "btoa",
      "caches",
      "cancelAnimationFrame",
      "captureEvents",
      "clearInterval",
      "clearTimeout",
      "clientInformation",
      "close",
      "closed",
      "confirm",
      "createImageBitmap",
      "crypto",
      "customElements",
      "defaultStatus",
      "departFocus",
      "devicePixelRatio",
      "dispatchEvent",
      // "document",
      "doNotTrack",
      "event",
      "external",
      // "fetch",
      "focus",
      "frameElement",
      "frames",
      "getComputedStyle",
      "getMatchedCSSRules",
      "getSelection",
      "history",
      "indexedDB",
      "innerHeight",
      "innerWidth",
      "isSecureContext",
      "length",
      // "localStorage",
      "location",
      "locationbar",
      "matchMedia",
      "menubar",
      "moveBy",
      "moveTo",
      "msContentScript",
      "msWriteProfilerMark",
      "name",
      "navigator",
      "offscreenBuffering",
      "onabort",
      "onafterprint",
      "onanimationcancel",
      "onanimationend",
      "onanimationiteration",
      "onanimationstart",
      "onauxclick",
      "onbeforeprint",
      "onbeforeunload",
      "onblur",
      "oncancel",
      "oncanplay",
      "oncanplaythrough",
      "onchange",
      "onclick",
      "onclose",
      "oncompassneedscalibration",
      "oncontextmenu",
      "oncuechange",
      "ondblclick",
      "ondevicelight",
      "ondevicemotion",
      "ondeviceorientation",
      "ondeviceorientationabsolute",
      "ondrag",
      "ondragend",
      "ondragenter",
      "ondragexit",
      "ondragleave",
      "ondragover",
      "ondragstart",
      "ondrop",
      "ondurationchange",
      "onemptied",
      "onended",
      "onerror",
      "onfocus",
      "ongotpointercapture",
      "onhashchange",
      "oninput",
      "oninvalid",
      "onkeydown",
      "onkeypress",
      "onkeyup",
      "onlanguagechange",
      "onload",
      "onloadeddata",
      "onloadedmetadata",
      "onloadstart",
      "onlostpointercapture",
      "onmessage",
      "onmessageerror",
      "onmousedown",
      "onmouseenter",
      "onmouseleave",
      "onmousemove",
      "onmouseout",
      "onmouseover",
      "onmouseup",
      "onmousewheel",
      "onmsgesturechange",
      "onmsgesturedoubletap",
      "onmsgestureend",
      "onmsgesturehold",
      "onmsgesturestart",
      "onmsgesturetap",
      "onmsinertiastart",
      "onmspointercancel",
      "onmspointerdown",
      "onmspointerenter",
      "onmspointerleave",
      "onmspointermove",
      "onmspointerout",
      "onmspointerover",
      "onmspointerup",
      "onoffline",
      "ononline",
      "onorientationchange",
      "onpagehide",
      "onpageshow",
      "onpause",
      "onplay",
      "onplaying",
      "onpointercancel",
      "onpointerdown",
      "onpointerenter",
      "onpointerleave",
      "onpointermove",
      "onpointerout",
      "onpointerover",
      "onpointerup",
      "onpopstate",
      "onprogress",
      "onratechange",
      "onreadystatechange",
      "onrejectionhandled",
      "onreset",
      "onresize",
      "onscroll",
      "onsecuritypolicyviolation",
      "onseeked",
      "onseeking",
      "onselect",
      "onselectionchange",
      "onselectstart",
      "onstalled",
      "onstorage",
      "onsubmit",
      "onsuspend",
      "ontimeupdate",
      "ontoggle",
      "ontouchcancel",
      "ontouchend",
      "ontouchmove",
      "ontouchstart",
      "ontransitioncancel",
      "ontransitionend",
      "ontransitionrun",
      "ontransitionstart",
      "onunhandledrejection",
      "onunload",
      "onvolumechange",
      "onvrdisplayactivate",
      "onvrdisplayblur",
      "onvrdisplayconnect",
      "onvrdisplaydeactivate",
      "onvrdisplaydisconnect",
      "onvrdisplayfocus",
      "onvrdisplaypointerrestricted",
      "onvrdisplaypointerunrestricted",
      "onvrdisplaypresentchange",
      "onwaiting",
      "onwheel",
      "open",
      "opener",
      "orientation",
      "origin",
      "outerHeight",
      "outerWidth",
      "pageXOffset",
      "pageYOffset",
      "parent",
      "performance",
      "personalbar",
      "postMessage",
      "print",
      "prompt",
      "queueMicrotask",
      "releaseEvents",
      "removeEventListener",
      "requestAnimationFrame",
      "resizeBy",
      "resizeTo",
      "screen",
      "screenLeft",
      "screenTop",
      "screenX",
      "screenY",
      "scroll",
      "scrollbars",
      "scrollBy",
      "scrollTo",
      "scrollX",
      "scrollY",
      "self",
      "sessionStorage",
      "setInterval",
      "setTimeout",
      "speechSynthesis",
      "status",
      "statusbar",
      "stop",
      "styleMedia",
      "toolbar",
      "top",
      "toString",
      "visualViewport",
      "webkitCancelAnimationFrame",
      "webkitConvertPointFromNodeToPage",
      "webkitConvertPointFromPageToNode",
      "webkitRequestAnimationFrame"
    ]
  }
}
